@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
 
 .buy-now-button {
   background-color: #b56e5f;
   color: white;
   border: none;
   padding: 8px 16px;
   border-radius: 4px;
   cursor: pointer;
   margin-top: 8px;
 }

 .buy-now-button:hover {
   background-color: #825c5c;
 }

 
 .cart-icon-container {
   position: relative;
 }

 .cart-icon {
   font-size: 24px;
   cursor: pointer;
 }

 .cart-count {
   position: absolute;
   top: -8px;
   right: -8px;
   background-color: #d46969;
   color: white;
   border-radius: 50%;
   width: 24px;
   height: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 12px;
 }